<template>
  <div id="app">
    <tiny-cms />
    <div class="app__inner">
      <cms-text cms-key="foo" />
      <br />
      <cms-link cms-key="baz" />
      <br />
      <!-- <cms-router-link cms-key="fiz" /> -->
      <!-- <br /> -->
      <cms-image cms-key="bar" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="sass">
#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.app__inner
  padding: 4rem
  display: flex
  *
    margin: auto
</style>
