<template>
  <div class="view view-edit-text">
    <widget>
      <template v-slot="{ cmsComponent, fields }">
        <multiline-text-input class="input" v-model="cmsComponent[fields[0].name]" />
      </template>
    </widget>
  </div>
</template>

<script>
import Widget from '@/components/Widget.vue'
import MultilineTextInput from '@/components/MultilineTextInput.vue'

export default {
  components: {
    Widget,
    MultilineTextInput
  },

  methods: {
    onReceiveMessage (data) {
      console.log('Iframe received event!', data) // eslint-disable-line
    }
  }
}
</script>

<style lang="sass" scoped>
.view-edit-text
  .input
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
</style>
