<template>
  <div class="view view-edit-fields">
    <widget>
      <template v-slot="{ cmsComponent, fields }">
        <form-field v-for="(field, i) in fields" :key="i">
          <template v-slot:label>{{ field.name | label }}</template>
          <template v-slot:control>
            <template v-if="field.kind === 'text'">
              <text-input v-model="cmsComponent[field.name]" />
            </template>
            <template v-else-if="field.kind === 'image'">
              <image-input v-model="cmsComponent[field.name]" />
            </template>
            <template v-else-if="field.kind === 'checkbox'">
              <input type="checkbox" v-model="cmsComponent[field.name]" :checked="cmsComponent[field.name]" />
            </template>
          </template>
        </form-field>
      </template>
    </widget>
  </div>
</template>

<script>
import Widget from '@/components/Widget.vue'
import FormField from '@/components/FormField.vue'
import TextInput from '@/components/TextInput.vue'
import ImageInput from '@/components/ImageInput.vue'

export default {
  components: {
    Widget,
    FormField,
    TextInput,
    ImageInput
  },

  data () {
    return {
      fields: []
    }
  },

  filters: {
    label (val) {
      let word = ''
      const words = []

      val.split('').forEach((char) => {
        if (char.match(/[A-Z_-]/) !== null) {
          words.push(word.toLowerCase().trim())
          word = char.replace(/[_-]/, '')
        } else {
          word += char
        }
      })
      words.push(word.toLowerCase().trim())

      return words.join(' ')
    }
  },

  methods: {
    onReceiveMessage (data) {
      console.log('Iframe received event!', data) // eslint-disable-line
    }
  }
}
</script>
