<template>
  <div class="view-test">
    <iframe
      ref="editText"
      width="320" height="250"
      src="http://localhost:8082/cms/widget/edit-text?pageId=/index&cmsKey=foo&fields=text:text"
    />
    <br />
    <iframe
      ref="editFields"
      width="320" height="250"
      src="http://localhost:8082/cms/widget/edit-fields?pageId=/index&cmsKey=bar&fields=source:image,description:text,highDpi:checkbox"
    />
  </div>
</template>

<script>
export default {
  methods: {
    onReceiveMessage (data) {
      console.log('Parent received event!', data) // eslint-disable-line
    },

    sendMessage (data, target) {
      target.contentWindow.postMessage({ ...data, _vueCms: true }, '*')
    }
  }
}
</script>
