<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="sass">
html
  font-size: 14px
  
body
  padding: 0
  margin: 0
  overflow: hidden
  width: 100%
  min-height: 100vh

body,
input,
button,
textarea
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50

#app
  width: 100%
  min-height: 100vh
  position: relative

.view
  width: 100%
  height: 100vh
  position: relative
</style>
