<template>
  <div class="form-field">
    <div class="form-field__label">
      <slot name="label" />
    </div>
    <div class="form-field__control">
      <slot name="control" />
    </div>
  </div>
</template>

<style lang="sass">
.form-field
  display: flex
  flex-direction: row
  padding: 0.5rem 0
  line-height: 1.4
  font-size: 1rem
  &:not(:last-child)
    border-bottom: solid 1px rgba(#34495E,0.1)

.form-field__label
  padding-right: 1rem
  opacity: 0.4
  text-transform: capitalize
  max-width: 30vw
  width: 30vw
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

.form-field__control
  flex: 1
</style>
