<template>
  <div class="multiline-text-input">
    <textarea @input="$emit('input', $event.target.value)" :value="value" placeholder="Text" />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="sass">
.multiline-text-input
  width: 100%
  height: 100%
  position: relative
  textarea
    font-size: 1rem
    padding: 0.7rem
    margin: 0
    resize: none
    width: 100%
    height: 100%
    display: block
    border: none
    box-sizing: border-box
    outline: none
</style>
