<template>
  <div class="text-input">
    <input @input="$emit('input', $event.target.value)" :value="value" placeholder="Text" />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="sass">
.text-input
  width: 100%
  height: 100%
  position: relative
  input
    font-size: 1rem
    padding: 0
    margin: 0
    width: 100%
    display: block
    border: none
    box-sizing: border-box
    outline: none
</style>
