<template>
  <div class="widget">
    <div class="widget__content">
      <transition name="widget-content">
        <div v-if="loading" class="widget__content-loading">
          <div></div>
        </div>
        <div v-else class="widget__content-inner">
          <slot
            :page="page"
            :fields="fields"
            :cms-component="component"
          />
        </div>
      </transition>
    </div>
    <transition name="widgth-toolbar">
      <div v-if="!loading" class="widget__toolbar">
        <a class="widget__button" @click="cancel"><span>Cancel</span></a>
        <a class="widget__button is-primary" @click="save"><span>Save</span></a>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data () {
    return {
      page: undefined,
      loading: true
    }
  },

  computed: {
    pageId () {
      return this.$route.query.pageId
    },

    component () {
      return this.page[this.cmsKey] || {}
    },

    cmsKey () {
      return this.$route.query.cmsKey
    },

    fields () {
      const pairs = this.$route.query.fields.split(',')
      return pairs.map((pair) => {
        const parts = pair.split(':')
        return { name: parts[0], kind: parts[1] }
      })
    }
  },

  created () {
    this.fetchPage()
  },

  methods: {
    async fetchPage () {
      this.loading = true

      const { pageId } = this

      const response = await fetch(`/cms/page${pageId}`)
      let result = await response.json()
      if (result === undefined) result = {}

      this.loading = false

      this.$set(this, 'page', result)
    },

    async save () {
      const payload = {
        ...this.page,
        [this.cmsKey]: this.component
      }

      await fetch(`/cms/page${this.pageId}`, {
        method: 'POST',
        body: JSON.stringify(payload),
        headers: {
          'Content-Type': 'application/json'
        }
      })

      await fetch(`/cms/clear-page${this.pageId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      })

      this.$sendMessage({ action: 'closeAndRefresh' })
    },

    cancel () {
      this.$sendMessage({ action: 'closeWindow' })
    }
  }
}
</script>

<style lang="sass">
.widget
  display: flex
  flex-direction: column
  position: relative
  width: 100%
  height: 100%

.widget__content
  flex: 1
  width: 100%
  height: 100%
  position: relative
  overflow-y: auto
  -webkit-overflow-scrolling: touch

.widget__content-loading
  display: flex
  height: 100%
  div
    margin: auto

.widget__content-inner
  padding: 0.7rem
  position: relative
  min-height: 100%
  box-sizing: border-box

.widget__toolbar
  display: flex
  justify-content: flex-end
  background: #fff

.widget__button
  padding: 0.5rem
  background: #F4F9FF
  font-size: 1rem
  width: 100%
  text-align: center
  cursor: pointer
  transition: background-color 200ms
  span
    transition: transform 200ms
    display: inline-flex
  &:hover
    background: darken(#F4F9FF, 2)
  &.is-primary
    background: #41B883
    color: #fff
    &:hover
      background: darken(#41B883, 4)
  &:active
    span
      transform: translateY(2px)
</style>
