<template>
  <div class="vue-cms-admin">
    <cms-window
      v-if="currentWindow"
      ref="editWindow"
      :key="currentWindow.cmsKey"
      :x="currentWindow.position.x"
      :y="currentWindow.position.y"
      :widget="currentWindow.widget"
      :cmsKey="currentWindow.cmsKey"
      :fields="currentWindow.fields"
      @close="closeWindow"
    />
  </div>
</template>

<script>
import CmsWindow from '@/lib/components/CmsWindow.vue'

export default {
  components: {
    CmsWindow
  },

  data () {
    return {
      editHandler: undefined,
      currentWindow: undefined
    }
  },

  created () {
    window.addEventListener('vueCmsEditComponent', this.editHandler = this.onEdit.bind(this), false)
  },

  beforeDestroy () {
    window.removeEventListener('vueCmsEditComponent', this.editHandler)
  },

  methods: {
    onEdit ({ detail }) {
      this.$set(this, 'currentWindow', undefined)

      this.$nextTick(() => {
        this.$set(this, 'currentWindow', detail)
      })
    },

    closeWindow () {
      this.$set(this, 'currentWindow', undefined)
    }
  }
}
</script>

<style lang="sass">
.vue-cms-admin
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

[data-vue-cms]
  user-select: none
  position: relative
  min-width: 1rem
  min-height: 1rem
  &:hover
    z-index: 1
  &::after
    content: ''
    position: absolute
    z-index: 1
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: 200ms box-shadow
    box-shadow: 0 0 0 1px #41B883, 0 0 0 1px rgba(#41B883, 0.4)
    cursor: pointer
  &:hover::after
    box-shadow: 0 0 0 2px #41B883, 0 0 0 4px rgba(#41B883, 0.4)
</style>
