<template>
  <div class="vue-cms-window">
    <transition :appear="true" name="vue-cms-window" @after-leave="$emit('close')">
      <div
        v-if="visible"
        :class="{ 'vue-cms-window__modal': true, 'is-dragging': dragging }"
        :style="{ top: `${top}px`, left: `${left}px`,  }"
        @mousedown="onMousedown"
      >
        <div class="vue-cms-window__header">
          <template v-if="ready">
            Editing {{ cmsKey | title }}
          </template>
          <template v-else>
            &nbsp;
          </template>
        </div>
        <div class="vue-cms-window__inner">
          <iframe :width="width" :height="height" :src="iframeSrc" @load="onLoad" scroll="none" />
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  filters: {
    title (val) {
      let word = ''
      const words = []

      val.split('').forEach((char) => {
        if (char.match(/[A-Z_-]/) !== null) {
          words.push(word.toLowerCase().trim())
          word = char.replace(/[_-]/, '')
        } else {
          word += char
        }
      })
      words.push(word.toLowerCase().trim())

      return words.join(' ')
    }
  },

  props: {
    x: {
      type: Number
    },

    y: {
      type: Number
    },

    widget: {
      type: String,
      required: true
    },

    cmsKey: {
      type: String,
      required: true
    },

    fields: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      top: this.y,
      left: this.x,
      width: 64,
      toWidth: 64,
      height: 50,
      toHeight: 50,
      ready: false,
      visible: true,
      messageHandler: undefined,
      currentWindow: undefined,
      dragging: false,
      dragStart: undefined,
      mousemoveHandler: undefined,
      mouseupHandler: undefined
    }
  },

  computed: {
    windowTitle () {
      return this.cmsKey
    },

    iframeSrc () {
      const { widget, cmsKey, fields } = this

      const basePath = process.env.NODE_ENV==='development'
        ? `http://localhost:${this.$cms.config.port}`
        : ''
      const widgetPath = `edit-${widget}`

      return `${basePath}/cms/widget/${widgetPath}?pageId=${this.$cms.getPageId()}&cmsKey=${cmsKey}&fields=${fields}`
    }
  },

  created () {
    window.addEventListener('message', this.messageHandler = this.onMessage.bind(this), false)
    this.loop()
  },

  beforeDestroy () {
    window.removeEventListener('message', this.messageHandler)
  },

  methods: {
    loop () {
      this.ease()
      requestAnimationFrame(this.loop.bind(this))
    },

    ease () {
      this.width += (this.toWidth - this.width) * 0.1
      this.height += (this.toHeight - this.height) * 0.1
    },

    close () {
      this.visible = false
    },

    onLoad () {
      this.ready = true
      this.toWidth = 320
      this.toHeight = 250
    },

    onMousedown (evt) {
      this.dragging = true

      this.$set(this, 'dragStart', {
        x: evt.clientX,
        y: evt.clientY,
        top: this.top,
        left: this.left
      })

      document.addEventListener('mousemove', this.mousemoveHandler = this.dragMove.bind(this))
      document.addEventListener('mouseup', this.mouseupHandler = this.dragStop.bind(this))
    },

    dragMove (evt) {
      const { x, y, top, left } = this.dragStart

      const mx = evt.clientX
      const my = evt.clientY

      this.top = top + (my - y)
      this.left = left + (mx - x)
    },

    dragStop () {
      this.dragging = false

      this.$set(this, 'dragStart', undefined)

      document.removeEventListener('mousemove', this.mousemoveHandler)
      document.removeEventListener('mouseup', this.mouseupHandler)
    },

    async onMessage (evt) {
      if (!evt.data._vueCms) return

      const data = { ...evt.data }
      delete data._vueCms

      if (data.action === 'closeWindow') {
        this.close()
      }

      if (data.action === 'closeAndRefresh') {
        await this.$cms.getPage()
        this.close()
      }
    }
  }
}
</script>

<style lang="sass" scoped>
$background: #34495E

.vue-cms-window
  position: fixed
  z-index: 9999
  top: 0
  left: 0
  user-select: none

.vue-cms-window__modal
  background: $background
  padding: 3px
  display: inline-flex
  flex-direction: column
  font-size: 0
  border-radius: 2px
  box-shadow: 0 4px 13px rgba($background, 0.2)
  position: absolute
  transition-property: opacity, filter, transform
  transition-duration: 400ms
  &.is-dragging
    opacity: 0.7
    filter: grayscale(0.3)
    iframe
      pointer-events: none

.vue-cms-window-enter-active,
.vue-cms-window-leave-active
  transition-property: opacity, filter, transform
  transition-duration: 200ms

.vue-cms-window-enter
  opacity: 0
  transform-origin: 50% 50%
  transform: scale(0.5)

.vue-cms-window-leave-to
  opacity: 0
  transform-origin: 50% 50%
  transform: scale(1) translateY(5%)

.vue-cms-window__header
  font-size: 14px
  color: #FFFFFF
  display: flex
  padding: 6px 0 6px 4px
  margin-bottom: 3px
  line-height: 18px
  cursor: move
  text-transform: capitalize

.vue-cms-window__inner
  background: #FFFFFF
  iframe
    border: none
    min-width: 64px
    min-height: 50px
</style>
