<template>
  <component :is="component" />
</template>

<script>
export default {
  data () {
    return {
      component: null
    }
  },

  computed: {
    authenticated () {
      return this.$cms.authenticated
    }
  },

  created () {
    this.fetchComponent()
  },

  methods: {
    async fetchComponent () {
      let component = null

      if (this.authenticated) {
        component = await import(/* webpackChunkName: "vue-cms-admin" */ '@/lib/components/CmsAdmin.vue')
        component = component.default
      }

      this.$set(this, 'component', component)
    }
  },

  watch: {
    authenticated () {
      this.fetchComponent()
    }
  }
}
</script>
