<template>
  <span class="vue-cms-image" data-vue-cms="fields" @click="editComponent">
    <img :src="src" :srcset="srcset" :alt="component.description" />
  </span>
</template>

<script>
import cmsComponentMixin from '@/lib/mixins/cms-component.js'

export default {
  mixins: [
    cmsComponentMixin
  ],

  computed: {
    ext () {
      const { source } = this.component

      let parts

      parts = source.split('/')
      parts = parts[parts.length-1].split('.')

      return parts.length > 1 ? `.${parts[parts.length-1]}` : ''
    },

    path () {
      const { ext } = this
      const { source } = this.component
      return source.replace(ext, '')
    },

    src () {
      const { ext, path } = this
      return `${path}${ext}`
    },

    srcset () {
      const { ext, path } = this
      if (!this.component.highDpi) return `${path}${ext} 1x`
      return `${path}${ext} 1x, ${path}@2x${ext} 2x`
    }
  },

  methods: {
    prerenderFields () {
      return [
        'source:image',
        'description:text',
        'highDpi:checkbox'
      ]
    },

    emptyComponent () {
      return {
        source: '//placekitten.com/200/200',
        description: 'Lorem ipsum dolor sit amet.',
        highDpi: false
      }
    }
  }
}
</script>

<style lang="sass">
.vue-cms-image
  display: inline-flex
</style>
