<template>
  <a class="vue-cms-link" data-vue-cms="fields" :href="component.url" :target="target" @click="tryEditComponent">{{ component.text }}</a>
</template>

<script>
import cmsComponentMixin from '@/lib/mixins/cms-component.js'

export default {
  mixins: [
    cmsComponentMixin
  ],

  computed: {
    target () {
      return this.component.newTab ? '_blank' : undefined
    }
  },

  methods: {
    tryEditComponent (evt) {
      if (!this.$cms.authenticated) return
      
      evt.preventDefault()
      this.editComponent(evt)
    },

    prerenderFields () {
      return [
        'text:text',
        'url:text',
        'newTab:checkbox'
      ]
    },

    emptyComponent () {
      return {
        text: 'Link',
        url: '/',
        newTab: false
      }
    }
  }
}
</script>

<style lang="sass">
.vue-cms-link
  display: inline-flex
</style>
