<template>
  <router-link class="vue-cms-router-link" data-vue-cms="fields" :to="{ name: component.routeName }">{{ component.text }}</router-link>
</template>

<script>
import cmsComponentMixin from '@/lib/mixins/cms-component.js'

export default {
  mixins: [
    cmsComponentMixin
  ],

  methods: {
    prerenderFields () {
      return [
        'text:text',
        'routeName:text'
      ]
    },

    emptyComponent () {
      return {
        text: 'Router Link',
        routeName: 'home'
      }
    }
  }
}
</script>

<style lang="sass">
.vue-cms-link
  display: inline-flex
</style>
