<template>
  <span class="vue-cms-text" data-vue-cms="text" @click="editComponent">{{ component.text }}</span>
</template>

<script>
import cmsComponentMixin from '@/lib/mixins/cms-component.js'

export default {
  mixins: [
    cmsComponentMixin
  ],

  methods: {
    prerenderWidget () {
      return 'text'
    },

    prerenderFields () {
      return [ 'text:text' ]
    },

    emptyComponent () {
      return {
        text: 'Lorem ipsum dolor sit amet.'
      }
    }
  }
}
</script>

<style lang="sass">
.vue-cms-text
  display: inline-flex
</style>
